ul {
  list-style-type: none;
}

.button {
  border: 2px solid var(--bakery-landing-1-c2);
  border-radius: 8px;
  padding: 16px 32px;
  width: 238px;
  height: 59px;
  background-color: var(--bakery-landing-1-c2);
  cursor: pointer;
  font-weight: 600;
  color: var(--bakery-landing-1-background);
}

.button:hover {
  background-color: transparent;
  font-family: var(--font-family);
  color: var(--bakery-landing-1-s3);
}

.link {
  text-align: center;
  color: var(--bakery-landing-1-background);
  text-decoration: none;
}

.link:hover {
  font-weight: 600;
  color: var(--bakery-landing-1-c2);
}
/* Hero-section */

.hero-section {
  padding: 272px;
}

.hero-title {
  font-weight: 900;
  font-size: 128px;
  text-align: center;
  color: var(--bakery-landing-1-background);
  text-align: center;
}

.hero-title .accent {
  color: var(--bakery-landing-1-c2);
}
.advantages-list {
  padding: 16px 99px;
  width: 1440px;
  height: 62px;
  backdrop-filter: blur(4px);
  background: var(--bakery-landing-1-c2);
  color: var(--bakery-landing-1-background);
}
.section-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
  color: var(--bakery-landing-1-s1);
}
.accent-traditional-section {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--bakery-landing-1-c2);
}

.accent-five-minutes {
  font-weight: 600;
  color: var(--bakery-landing-1-c2);
}

.accent-chefs-section {
  color: var(--bakery-landing-1-s3);
}

.advantages-item {
  font-weight: 300;
  font-size: 20px;
  color: var(--bakery-landing-1-background);
}

.chef-title {
  font-weight: 600;
  font-size: 40px;
}

.format-title {
  font-weight: 600;
  font-size: 24px;
  color: var(--bakery-landing-1-background);
}
.format-text {
  font-weight: 300;
  font-size: 14px;
  color: var(--bakery-landing-1-background);
}

.address-link {
  font-weight: 300;
  font-size: 16px;
  color: var(--bakery-landing-1-background);
  text-decoration: none;
}

.address-link:hover {
  color: var(--bakery-landing-1-c2);
}
.address-copyright {
 font-size: 14px;
color: var(--bakery-landing-1-s4);
}

.hero-section {
  padding: 272px;
}