ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section {
  padding: 48px 0;
}
.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 24px;
}

.button {
  border: 2px solid var(--bakery-landing-1-c2);
  border-radius: 8px;
  padding: 16px 32px;
  width: 238px;
  height: 59px;
  background-color: var(--bakery-landing-1-c2);
  cursor: pointer;
  font-weight: 600;
  color: var(--bakery-landing-1-background);
}

.button:hover {
  background-color: transparent;
  font-family: var(--font-family);
  color: var(--bakery-landing-1-s3);
}

.link {
  text-align: center;
  color: var(--bakery-landing-1-background);
  text-decoration: none;
}

.link:hover {
  color: var(--bakery-landing-1-c2);
}
/* Header */
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}
/* Hero-section */

.hero-section {
  padding: 272px 0;
  background-image: url('../images/hero-background@1.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 128px;
  text-align: center;
  color: var(--bakery-landing-1-background);
  text-align: center;
  margin-bottom: 0;
}

.hero-title .accent {
  color: var(--bakery-landing-1-c2);
}
/* Little-section */
.advantages-section {
  background: var(--bakery-landing-1-c2);
  padding: 16px 0;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  font-weight: 300;
  font-size: 20px;
  color: var(--bakery-landing-1-background);
}
.section-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
  color: var(--bakery-landing-1-s1);
}

/* traditional-section */

.traditional-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  gap: 104px;
}

.traditional-title {
  margin-bottom: 42px;
}

.accent-traditional-section {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--bakery-landing-1-c2);
}

.accent-five-minutes {
  font-weight: 600;
  color: var(--bakery-landing-1-c2);
}

.traditions-content {
  max-width: 708px;
}
.traditional-photo {
  border-radius: 400px 400px 0 0;
}

/* chefs-section */
.chefs-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}

.chefs-title::before,
.chefs-title::after {
  position: absolute;
  content: '';
  width: 352px;
  border: 2px solid var(--bakery-landing-1-c5);
  bottom: 24px;
}
.chefs-title::before {
  left: 0;
}
.chefs-title::after {
  right: 0;
}

.accent-chefs-section {
  color: var(--bakery-landing-1-s3);
}

.chef-title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 40px;
}
.chefs-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 30px;
}
.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}
.chef-card {
  display: flex;
  gap: 30px;
}

.chef-text p {
  margin-bottom: 32px;
}
.chef-text :last-child {
  margin-bottom: 0;
}
.chef-photo {
  border-radius: 4px 4px 4px 200px;
  width: 240px;
  height: 390px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25),
    -16px 16px 0 0 var(--bakery-landing-1-background),
    -16px 16px 0 2px var(--bakery-landing-1-c5);
}
/* formats-section */
.formats-title {
  margin-bottom: 80px;
}
.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}
.formats-title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
  color: var(--bakery-landing-1-background);
}

.slider-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-radius: 50%;
  fill: var(--bakery-landing-1-s1);
  border: 1px solid var(--bakery-landing-1-s1);
}
.slider-button:hover {
  background-color: var(--bakery-landing-1-s1);
  fill: var(--bakery-landing-1-background);
}

.formats-list {
  display: flex;
  gap: 20px;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}
.formats-card {
  height: 444px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55%,
    rgba(49, 38, 26, 0.71) 72%,
    rgba(49, 38, 26, 1) 100%
  );

  border: 1px solid lightgrey;
  border-radius: 16px;
  padding: 24px;
}

.formats-text {
  font-weight: 300;
  font-size: 14px;
  color: var(--bakery-landing-1-background);
}

/* contact-section */
.contact-section {
  padding-bottom: 96px;
}
.contact-container {
  display: flex;
  gap: 32px;
}

.contact-title {
  margin-bottom: 16px;
  font-weight: 900;
  font-size: 64px;
}

/* footer */
.footer {
  background-color: var(--bakery-landing-1-s1);
  background-image: url('../images/footer_backgr_desk_@1x.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.footer::before,
.footer::after {
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  content: '';
  bottom: 0;
}
.footer::before {
  background-image: url('../images/bread.png');
  width: 180px;
  height: 120px;
}
.footer::after {
  background-image: url('../images/double_bread.png');
  width: 380px;
  height: 190px;

  right: 0;
}
.footer-container {
  display: flex;
  gap: 20px;
  padding: 32px 0px;
}
.footer-nav,
.footer-address {
  display: flex;
  gap: 20px;
  flex-basis: 50%;
}
.footer-logo {
  flex-grow: 1;
}
.footer-menu {
  flex-grow: 1;
}

.address-info {
  flex-grow: 1;
}
.address-list {
  flex-grow: 1;
}
.address-link {
  font-weight: 300;
  font-size: 16px;
  color: var(--bakery-landing-1-background);
  text-decoration: none;
}

.address-link:hover {
  color: var(--bakery-landing-1-c2);
}
.address-copyright {
  font-size: 14px;
  color: var(--bakery-landing-1-s4);
}

iframe {
  width: 100%;
  max-width: 603px;
  height: 595px;
  border: none;
  border-radius: 16px;
}
.social-icon {
  fill: var(--bakery-landing-1-background);
}
.social-icon:hover {
  fill: var(--bakery-landing-1-c2);
}
