/* Little-section */
.advantages-section {
  background: var(--bakery-landing-1-c2);
  padding: 16px 0;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  font-weight: 300;
  font-size: 20px;
  color: var(--bakery-landing-1-background);
}
.section-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
  color: var(--bakery-landing-1-s1);
}
