/* Little-section */

.advantages-section {
 padding: 40px 20px;
}

@media (min-width: 361px) {
  .advantages-section {
    background: var(--bakery-landing-1-c2);
    padding: 16px 0;
  }
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
   background-color: var(--bakery-landing-1-c5);
  padding: 24px 40px;
  border-radius: 24px;
 }

@media (min-width: 361px) {
  .advantages-list {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}
.advantages-item {
font-family: var(--font-family);
font-weight: 300;
font-size: 14px;
color: var(--bakery-landing-1-s1);
}

@media (min-width:361px){
.advantages-item {
  font-size: 20px;
  color: var(--bakery-landing-1-background);
}
}


