

.chefs-title {
  text-align: center;
}

.accent-chefs-section {
  color: var(--bakery-landing-1-s3);
}

.chef-title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
}
.chef-info {
  width: 100%;
}
.chefs-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
}

.chefs-item {
  flex-basis: calc((100% - 16px) / 2);
 }

 .chefs-item:not(:last-child)  {
  margin-bottom: 16px
 }
.chef-text p {
  margin-bottom: 24px;
}
.chef-text {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 32px;
}

@media (min-width: 1200px) {
  .chefs-section .chefs-title {
    margin-bottom: 80px;
    position: relative;
  }
  .chefs-item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .chefs-list {
    display: flex;
    flex-direction: row;
    gap: 40px 30px;
  }
  .chef-title {
    font-size: 40px;
  }
  .chef-text {
    font-weight: 400;
    font-size: 18px;
  }
  .chefs-title::before,
  .chefs-title::after {
    position: absolute;
    content: '';
    width: 352px;
    border: 2px solid var(--bakery-landing-1-c5);
    bottom: 24px;
  }
  .chefs-title::before {
    left: 0;
  }
  .chefs-title::after {
    right: 0;
  }
   .chef-photo {
    border-radius: 4px 4px 4px 200px;
    width: 240px;
   
  }
}

.chef-card {
  display: flex;
  gap: 30px;
}

.chef-text :last-child {
  margin-bottom: 0;
}
.chef-photo {
  max-width: 100%;
  width: 140px;
  height: auto;
  border: 1px solid var(--bakery-landing-1-s4);
  border-radius: 2px 2px 2px 116px;
  aspect-ratio: 16 / 9;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25),
      -16px 16px 0 0 var(--bakery-landing-1-background),
      -16px 16px 0 2px var(--bakery-landing-1-c5);
}

