/* contact-section */
.contact-section {
  padding-bottom: 96px;
}
.contact-container {
  display: flex;
  gap: 32px;
}

.contact-title {
  margin-bottom: 16px;
  font-weight: 900;
  font-size: 64px;
}

/* .address-map {
  @media (min-width: 361px) {
    width: 100%;
    max-width: 603px;
    height: 100%;
    max-height: 595px;
  }
} */
