/* footer */
.footer {
  background-color: var(--bakery-landing-1-s1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  @media (min-width: 361px) {
    background-image: url('../img/footer/footer_backgr_desk_@1x.webp');
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 361px),
  screen and (min-resolution: 2dppx) and (min-width: 361px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 361px) {
  .footer {
    background-image: url('../img/footer/footer_backgr_desk_@2x.webp');
  }
}

.footer::before,
.footer::after {
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  content: '';
  bottom: 0;
}
.footer::before {
  background-image: url('../img/footer/bread.png');
  max-width: 100%;
  /* width: 180px; */
  height: 120px;
}
.footer::after {
  background-image: url('../img/footer/double_bread.png');
  max-width: 100%;
  height: 190px;

  right: 0;
}


  @media (min-width: 361px) {
    .footer-container {
flex-direction: row;
    }
    
  }
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 32px 0px;

}
.footer-nav,
.footer-address {
  display: flex;
  gap: 16px;
  flex-basis: 50%;
}

.footer-address {
  flex-direction: column;
}

.footer-logo {
  flex-grow: 1;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
}

.address-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
}
.address-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
}
.address-link {
  font-weight: 300;
  font-size: 16px;
  color: var(--bakery-landing-1-background);
  text-decoration: none;
}

.address-link:hover {
  color: var(--bakery-landing-1-c2);
}
.address-copyright {
  font-size: 14px;
  color: var(--bakery-landing-1-s4);
}

iframe {
  width: 100%;
  max-width: 603px;
  height: 595px;
  border: none;
  border-radius: 16px;
}
.social-icon {
  fill: var(--bakery-landing-1-background);
}
.social-icon:hover {
  fill: var(--bakery-landing-1-c2);
}

.social-links {
  display: flex;
  gap: 22px;
}
