/* Hero-section */

.hero-section {
  padding: 272px 0;
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url('../img/hero/hero_background_mob@1x.webp');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

@media screen and (min-resolution: 192dpi) and (max-width: 360px),
  screen and (min-resolution: 2dppx) and (max-width: 360px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 360px) {
  .hero-section {
    background-image: linear-gradient(
        102.76deg,
        rgba(18, 18, 17, 0.78) 2.03%,
        rgba(18, 18, 17, 0.6) 58.46%,
        rgba(18, 18, 17, 0) 90.36%
      ),
      url('../img/hero/hero_background_mob@2x.webp');
  }
}
@media (min-width: 361px) {
  .hero-section {
    background-image: linear-gradient(
        102.76deg,
        rgba(18, 18, 17, 0.78) 2.03%,
        rgba(18, 18, 17, 0.6) 58.46%,
        rgba(18, 18, 17, 0) 90.36%
      ),
      url('../img/hero/hero_background_desk@1x.webp');
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 361px),
  screen and (min-resolution: 2dppx) and (min-width: 361px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 361px) {
  .hero-section {
    background-image: linear-gradient(
        102.76deg,
        rgba(18, 18, 17, 0.78) 2.03%,
        rgba(18, 18, 17, 0.6) 58.46%,
        rgba(18, 18, 17, 0) 90.36%
      ),
      url('../img/hero/hero_background_desk@2x.webp');
  }
}




.hero-title {
  font-weight: 900;
  font-size: 67px;
  line-height: 1;
  text-align: center;
  color: var(--bakery-landing-1-background);
  text-align: center;
  margin-bottom: 0;
}

@media (min-width:361px){
  .hero-title {
font-size: 128px;
line-height: 1,5;
  }
}

.hero-title .accent {
  color: var(--bakery-landing-1-c2);
}



