/* Common styles */
@import url(./styles.css);
@import url(./index.css);


@import url(./advantages.css);
@import url(./chefs.css);
@import url(./contacts.css);
@import url(./footer.css);
@import url(./formats.css);
@import url(./header.css);
@import url(./hero.css);
@import url(./modal.css);
@import url(./traditionals.css); 
