.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bakery-landing-1-background);
  /* transform: translateX(-100%); */
  padding: 16px 24px;
}

.mobile-menu .is-open {
  transform: translateX(0);
}

.mobile-header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 72px;
  height: 38px;
}

.menu-btn-close {
  background-color: transparent;
  padding: 0;
  border: none;
}
.menu-close {
  width: 24px;
  height: 24px;
  stroke: black;
}

.header-mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
  position: relative;
}

.mobile-link {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  color: var(--bakery-landing-1-s1);
  transition: color 0.3ms;
}

.mobile-link:hover,
.mobile-link:active {
  font-weight: 600;
  color: var(--bakery-landing-1-c2);
}
.mobile-menu-bread {
  position: absolute;
    background-image: url("/src/img/mobile-menu/mobile-menu-bread.png");
    width: 180px;
    height: 240px;
    background-repeat: no-repeat;
    background-position-x: calc(50% + 20px);
  }