/* Modal  */

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 0;
  transition: opacity 0.5s, visibility 0.5s;
}

.modal {
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  padding: 128px;
  background-color: var(--bakery-landing-1-background);
  border-radius: 32px;
  position: relative;
  overflow-y: auto;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: transparent;
  border: none;
  top: 40px;
  right: 40px;
  width: 32px;
  height: 32px;
}
.icon-cross {
  stroke: var(--bakery-landing-1-s1);
}
.order-title {
  margin-bottom: 8px;
  text-align: center;
}
.order-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--bakery-landing-1-s3);
}
