:root {
  --bakery-landing-1-background: #faf4ea;
  --bakery-landing-1-s1: #31261a;
  --bakery-landing-1-c2: #819b57;
  --bakery-landing-1-s3: #465929;
  --bakery-landing-1-s4: #a18268;
  --bakery-landing-1-c5: #cfcfbc;
  --beauty-landing-2-background: #fff;
  --beauty-landing-2-s2: #2b7fff;
  --beauty-landing-2-c1: #011c44;
  --beauty-landing-2-c3: #4a4a4a;
  --beauty-landing-2-s4: #ffd02b;
  --beauty-landing-2-s5: #747272;
  --beauty-landing-2-c6: #011f4a;
  --dog-landing-3-background: #fff;
  --dog-landing-3-s1: #ff9f0e;
  --dog-landing-3-s2: #fcb62a;
  --dog-landing-3-c3: #fffaf3;
  --dog-landing-3-c4: #181817;
  --dog-landing-3-c5: #f1f3ff;
  --dog-landing-3-c6: #839aa9;
  --dog-landing-3-s8: #f9f9ff;
  --dog-landing-3-c9: #d9a6ff;
  --dog-landing-3-c10: #ff6e9f;
}

:root {
  --font-family: 'Poppins', sans-serif;
  --second-family: 'Roboto', sans-serif;
  --third-family: 'Inter', sans-serif;
  --font3: 'Gilroy', sans-serif;
}

* {
    outline: 2px solid purple !important;
}


body {
  color: var(--bakery-landing-1-s1);
  background-color: var(--bakery-landing-1-background);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  /* overflow-x: hidden; */
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
a {
  display: inline-block;
}
button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img,
iframe,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

section {
  overflow-x: hidden;
}
