* {
  outline: 2px solid rgba(255, 0, 0, 0.3);
}

.container {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 0 16px;

  @media (min-width: 1200px) {
    width: 1200px;
    padding: 0 48px;
  }
  @media (min-width: 1440px) {
    width: 1440px;
    padding: 0 48px;
  }
}